extends layout

block content
  div.container
    div.row
      h1.col-sm-6= title
    div.row
      p.col-sm-6 Welcome to #{title}
    form(name="form1",method="post",action="http://www.tncchina.com/api/photo/upload", enctype="multipart/form-data")
      div
        label Brows File
          input(name="myFile", type="file")
      duv
        input(type="submit", value="Upload")

    div.row
      form#uploadForm.col-sm-6(ref='uploadForm', action='/upload', method='post', encType='multipart/form-data')
        input(type='file', name='sampleFile')
        input(type='submit', value='Upload!')